<ion-grid>
  <ion-row>
    <ion-col *ngIf="!showForm">
      <ion-row>
        <ion-col>
          <app-list-data [data]="configuration" emptyText="label.no.settings" addText="label.add.setting"
            [showAdd]="false">
            <ng-template #templateData let-item="item">
              <ion-list>
                <ion-item>
                  <ion-toggle justify="space-between" color="success" [checked]="true">{{'label.settings.beepSound' |
                    translate}}</ion-toggle>
                </ion-item>
                <ion-item>
                  <ion-select
                  class="always-flip"
                  toggleIcon="caret-down-sharp"
                  interface="popover"
                  label="{{'label.settings.beepSoundSelected' | translate}}"
                >
                  <ion-select-option value="apples">Normal</ion-select-option>
                  <ion-select-option value="oranges">Allegre</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
                </ion-item>
                <ion-item>
                  <ion-range labelPlacement="start" label="{{'label.settings.soundVolume' | translate}}" color="success" [pin]="true" [pinFormatter]="pinFormatter" [ticks]="true" [snaps]="true" [min]="0" [max]="10">
                    <ion-icon slot="start" name="volume-off-outline"></ion-icon>
                    <ion-icon slot="end" name="volume-high-outline"></ion-icon>
                  </ion-range>
                </ion-item>
                <ion-item>
                  <ion-toggle justify="space-between" color="success" [checked]="true">{{'label.settings.voiceNotification' | translate}}</ion-toggle>
                </ion-item>
                <ion-item>
                  <ion-toggle justify="space-between" color="success" [checked]="true">{{'label.settings.duckingEffect' | translate}}</ion-toggle>
                </ion-item>
              </ion-list>

            </ng-template>
          </app-list-data>
        </ion-col>
      </ion-row>
    </ion-col>
    <!--     <ion-col *ngIf="showForm">

    </ion-col> -->
  </ion-row>
</ion-grid>