// Palette
$background-color: #121212;
$card-background: #1E1E1E;
$text-primary: #FFFFFF;
$text-secondary: #B0B0B0;
$button-primary: #0A84FF;
$button-secondary: #1B72E8;
$border-color: #2C2C2C;

ion-toolbar {
    text-align: center;
    text-transform: uppercase;
    --padding-start: 0;
    --padding-end: 0;
    --min-height: 8vh;

    ion-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        top: 5%;
    }

    .time-total-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3vh;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
    }

    ion-button{
        font-size: 1.5vh;
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}


.timer-container {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    color: $text-primary;
    padding-top: 10px;
    text-shadow: $background-color 1px 1px 1px;

    .time-display {
        background-color: $button-primary;
        padding-top: 1vh;

        .status,
        .sub-status {
            font-size: 4vh;
            font-weight: bold;
        }

        .time-main {
            font-size: 15vh;
            font-weight: bold;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .sub-time {
            font-size: 10vh;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }

    .counters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $background-color;

        .rounds,
        .cycles {
            font-size: 4em;
            color: $button-primary;
            padding: 0 8%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .play-button {
            --button-border-radius: 50%;
        }
    }

    .labels {
        display: flex;
        justify-content: space-between;
        padding: 1% 12%;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $background-color;
        font-size: 0.8em;
        width: 100%;
    }
}

@media screen and (min-width: 1150px) {
    ion-toolbar {
        --min-height: 10vh;

        .time-total-header {
            font-size: 4vh;
        }

        ion-button {
            font-size: 2.5vh;
        }
    }

    .timer-container {
        .time-display {

            .status,
            .sub-status {
                font-size: 6vh;
            }

            .time-main {
                font-size: 20vh;
            }

            .sub-time {
                font-size: 10vh;
            }
        }

        .counters {

            .rounds,
            .cycles {
                font-size: 12vh;
                padding: 0 10%;
            }

            ion-button{
                font-size: 4vh;
            }
        }

        .labels {
            padding: 0 10.5%;
            font-size: 4vh;

        }
    }
}