.input-invalid {
    border: 2px solid transparent; // Elimina el borde duro
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); // Ajusta el difuminado
    border-radius: 8px; // Opcional, suaviza las esquinas
    margin-bottom: 5px;
}

ion-icon {
    color: white;
}

ion-text {
    color: white;
}

ion-item {
    border-radius: 1%;
}

ion-card {
    padding: 0;
}

.progress-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.progress-table th,
.progress-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.date-col {
    width: 28%;
}

.measure-col {
    width: 10%;
}

ion-item.custom-input-item {
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --min-height: 40px;
    position: relative;
    overflow: hidden;
}

.styled-date-input {
    width: 100%;
    font-size: 14px;
    color: white;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px 0;
    z-index: 2;
    position: relative;
    text-align: center;
}

ion-item.custom-input-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--ion-color-success);
    transition: 0.3s ease-in-out;
    transform: translateX(-50%);
    z-index: 1;
}

ion-item.custom-input-item:focus-within::after {
    width: 100%;
}