.input-invalid {
    border: 2px solid transparent; // Elimina el borde duro
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); // Ajusta el difuminado
    border-radius: 8px; // Opcional, suaviza las esquinas
    margin-bottom: 5px;

}